Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple


Ans :

In [1]:
s = "string " 
l = [1,2,3,"sanchit","sudhakar"]
k = 34.49494
m = (4,3,32,45,"sanchit")

In [6]:
print(type(s))
print(type(l))
print(type(k))
print(type(m))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = '[ DS , ML , Python]'
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

Ans :

i) string
ii) string 
iii) list
iv) int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

i) it is used to divide and returns answer in float.
   ex : 5/4 gives 1.25
ii) it is used to get the remainder.
        ex: 5%4 gives 1
iii) is is used to get only the quotient .
        5//4 = 1
iv)  it is used to get the exponent of the numbers.
 5**4 gives 625

In [7]:
5**4

625

In [8]:
5//4

1

In [9]:
5/4

1.25

In [10]:
5%4

1

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

Ans:

In [19]:
o = [1,2,3,4,5,'ok','no','yes','hello','hi']

In [20]:
for i in o:
    print(i)
    print(" ")
    print(type(i))

1

<class 'int'>
2

<class 'int'>
3

<class 'int'>
4

<class 'int'>
5

<class 'int'>
ok

<class 'str'>
no

<class 'str'>
yes

<class 'str'>
hello

<class 'str'>
hi

<class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [16]:
a = int(input("Enter the value of a"))
b = int(input("Enter the value of b"))
c=0

if(a%b==0):
    while(a%b==0):
        c+=1
        a/=b
    print(c)
else:
    print("a not divisible by b")

Enter the value of a 64
Enter the value of b 2

6

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [21]:
t = list(range(25))

In [22]:
t

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

In [27]:
for i in t:
    if(i%3==0):
        print(str(i) +" is divisible")
    else:
        print(str(i) +" is not divisible")

0 is divisible
1 is not divisible
2 is not divisible
3 is divisible
4 is not divisible
5 is not divisible
6 is divisible
7 is not divisible
8 is not divisible
9 is divisible
10 is not divisible
11 is not divisible
12 is divisible
13 is not divisible
14 is not divisible
15 is divisible
16 is not divisible
17 is not divisible
18 is divisible
19 is not divisible
20 is not divisible
21 is divisible
22 is not divisible
23 is not divisible
24 is divisible

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Ans:

mutable are those types whose elements can be changed. ex :list

But immutable, unlike mutable cannot be changed.  ex : tuple

In [30]:
q = [2,3,4,4]
q[3] = 55

print(q)

[2, 3, 4, 55]

In [31]:
r =(2,4,5,5)
r[3] = 86
print(r)

TypeError: 'tuple' object does not support item assignment